/* body {
  min-width: 2000px;
} */
.jumbotron {
  padding-top: 5rem;
  background-color: #c7f0f3;
}
#projects {
  background-color: #c7f0f3;
}
section {
  padding-top: 5rem;
}
/* .aboutme1 {
  padding-bottom: 3rem;
} */
